body {
    /* margin: 0;
    padding: 0; */
    font-family: 'Open Sans', sans-serif;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    /* line-height: normal; */
}

.section-description {
    margin-top: -30px;
    font-size: 18px;
    color: #757575;
    text-align: center;
}

/* nav related style */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 100px;

}

.mary {
    color: rgb(255, 167, 4);
    /* font-style: italic; */

}

.btn-primary {
    border-radius: 5px;
    background: rgb(255, 167, 4);
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 400;
    padding: 10px 30px;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 30px;
}

nav a {
    text-decoration: none;
    color: #474747;

}

/* header related style */
.header {
    background-color: #fff8f3;
}

.banner {
    /* margin: 100px; */
    padding: 30px 30px 30px 100px;
    display: flex;
    align-items: center;
}

.banner .profile-pic {
    width: 300px;
    margin-left: 335px;
    margin-top: 22px;
}

.banner-greeting {
    font-size: 45px;
    color: #474747;
    margin-bottom: -60px;


}

.banner-title {
    font-size: 65px;
    font-weight: 700;
    margin-bottom: px;
}

.banner-p {
    width: 500px;
    margin-top: -30px;
}

/* main section style */
main {
    width: 1000px;
    margin: 0 auto;

}

main section {
    margin-top: 230px;
}

/* About section style */
.about {
    padding: 130px;
    border-radius: 10px;
    background: #fff8f3;
    margin: 130px 0;
    box-shadow: -1px -1px 10px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;

}

.about-info {
    text-align: center;
}

/* skill related style */
#what-i-do-description {
    padding: 30px 150px;
}

.skill-container {
    margin-top: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #fff8f3;
}

.skill {
    border: 1px solid rgba(153, 205, 50, 0.116);
    padding: 20px;
    text-align: center;
    height: 400px;
    border-radius: 100px 5px 100px 5px;
    box-shadow: -1px -1px 20px;
    margin-left: 10px;
    background-color: white;
}

.skill>img {
    height: 70px;
    margin-top: 35px;

}

/* resume section  */

.resume-container {
    display: flex;
    gap: 100px;
    text-align: justify;
}

.resume-column {
    margin-bottom: 30px;
}

.resume-container hr {
    padding-top: 2px;

}

.resume-item-title {
    color: #474747;
    font-size: 20px;
    font-weight: 500;
}

.resume-item-description,
.resume-item-institute {
    color: #757575;
}

.summary-of-resume .resume-column-title {
    font-size: 25px;
    font-weight: 700;
}

.download-cv {
    text-align: center;
    margin: 50px;
}